.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #232b37;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo h1 {
  font-size: 1.4rem;
  margin: 0;
  color: #ffb703;
  font-weight: 500;
}

.nav {
  display: flex;
  list-style: none;
  padding: 5px 0px 5px 700px;
}

.nav a {
  color: #e0e0e0;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav a:hover {
  color: #ffb703;
}

.carrito {
  background-color: #1a1a1a;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  font-size: 0.85rem;
  transition: transform 0.1s ease-in-out;
  font-weight: bold;
  border-color: #ffb703;
  border-style: solid;
}

/* .cantidad {
  background-color: #1a1a1a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.85rem;
  transition: transform 0.1s ease-in-out;
  font-weight: bold;
  border-color: #ffb703;
  border-style: solid;
} */
