.banner {
  background-size: cover;
  background-position: center;
  border-radius: 8px;

  padding: 48px 32px;
  height: 220px;
  display: flex;
  justify-content: center; /* 👈 centra el bloque de texto horizontalmente */
  align-items: center; /* ya centraba verticalmente */
  color: #f4f4f4;
  position: relative; /* 👈 necesario para que el botón se ubique respecto a este banner */
  overflow: hidden;
  height: 80px;
}

.bannerContenido {
  text-align: center; /* 👈 centra el texto dentro de su propia caja */
}

.bannerContenido h1 {
  color: #232b37;
  margin-top: 100px;
  font-size: 2rem;
}

.bannerContenido p {
  font-size: 1.6rem;
  margin-bottom: 150px;
  color: #232b37;
}

.botonComprar {
  position: absolute; /* 👈 lo saca del flujo normal */
  top: 24px;
  right: 60px;
  background-color: #232b37;
  color: #fbfbfc;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.botonComprar:hover {
  background-color: #f5c518;
}

.presentacion {
  background-color: #0c0f16;
  color: #f4f4f4;
  text-align: center;
  padding: 24px 48px;

  border-radius: 8px;
  font-size: 1.6rem;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px 48px 32px;
}
